.navbar-inverse {
	background-color: #222;
}

.item {
	text-align: center;
	font-size: 10px;
	border: 1px dotted black;
	background-color: #eee;
	vertical-align: middle;
}

.item_orange {
	background-color: #fd8;
}

.item_green {
	background-color: #8d8;
}
li.double-arrow {
	list-style:none;
}
li.double-arrow:before {
	content:"▹ ";
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.clickable {
    cursor: pointer;
}    
.renfort-cut {
	display: inline-block;
	border: 1px dotted black;
	text-align: center;
	background-color: #EEEEEE;
	min-height: 20px;
}
.renfort-master {
	padding: 4px;
	border: 1px solid grey;
}
.renfort-highlight {
	background-color: #cfc;
}