.navbar-inverse {
	background-color: #222;
}

.item {
	text-align: center;
	font-size: 10px;
	border: 1px dotted black;
	background-color: #eee;
	vertical-align: middle;
}

.item_orange {
	background-color: #fd8;
}

.item_green {
	background-color: #8d8;
}
li.double-arrow {
	list-style:none;
}
li.double-arrow:before {
	content:"▹ ";
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.clickable {
    cursor: pointer;
}    
.renfort-cut {
	display: inline-block;
	border: 1px dotted black;
	text-align: center;
	background-color: #EEEEEE;
	min-height: 20px;
}
.renfort-master {
	padding: 4px;
	border: 1px solid grey;
}
.renfort-highlight {
	background-color: #cfc;
}
.site-help table {
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: separate;
}
.site-help table td {
	border-bottom: 1px solid lightgrey;
	padding: 6px;
}

.site-help table th {
	border-bottom: 1px solid black;
	padding: 6px;
}
.chromaXS {
	background-color: #fee;
}
.chromaS {
	background-color: #dfd;
}
.chromaM {
	background-color: #ccf;
}
.chromaL {
	background-color: #bfb;
}
.chromaXL {
	background-color: #faa;
}