.item {
	text-align: center;
	font-size: 10px;
	border: 1px dotted black;
	background-color: #eee;
	vertical-align: middle;
	width: 180px;
}

.item_orange {
	background-color: #fd8;
}

.item_green {
	background-color: #8d8;
}
li.double-arrow {
	list-style:none;
}
li.double-arrow:before {
	content:"▹ ";
}

.panel-heading span {
    margin-top: -20px;
    font-size: 15px;
}
.clickable {
    cursor: pointer;
}    
.renfort-cut {
	display: inline-block;
	border: 1px dotted black;
	text-align: center;
	background-color: #EEEEEE;
	min-height: 20px;
}
.renfort-master {
	padding: 4px;
	border: 1px solid grey;
}
.renfort-highlight {
	background-color: #cfc;
}
.site-help table {
	border: 1px solid black;
	border-spacing: 0px;
	border-collapse: separate;
}
.site-help table td {
	border-bottom: 1px solid lightgrey;
	padding: 6px;
}

.site-help table th {
	border-bottom: 1px solid black;
	padding: 6px;
}
.chromaXS {
	background-color: #fee;
}
.chromaS {
	background-color: #dfd;
}
.chromaM {
	background-color: #ccf;
}
.chromaL {
	background-color: #bfb;
}
.chromaXL {
	background-color: #faa;
}
.image-placeholder {
	background-color: #eee;
	border: 1px solid dotted;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}
.jjm-frame-container {
	border: 1px solid red;
	margin: auto;
}

.jjm-frame {
	position: absolute;
	top: 0;
	left: 0;
	background: none;
}

.jjm-frame-ref {
	position: absolute;
	top: 0;
	left: 0;
	border: 1px dotted red;
	background: none;
}

.jjm-frame-swatches {
	border: 1px dotted black;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}


.jjm-frame-swatch {
	border: 1px solid black;
	display: inline-block;
	background: none;
	text-align: center;
	vertical-align: middle;
}

.rednote {
	font-weight: bold;
	color: red;
}

.jjm-frame-ref-label {
  position:absolute;
  font-size: 10px;
  color: red;
  bottom:0px;
}